 *{
 	margin: 0%;
 }
.navigation{
	padding: 2%;

}
.navigation img{
	vertical-align: middle;
 }
.navigation a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	margin-left: 3%;
}
.logo{
	margin: 0% 6.7% 0% 3%;
}
#signin{
	margin-left: 12%;
	padding:0.6% 1% 1%;
	background-color: #00baf2;
	color: white;
	text-align: center;
	border-radius: 25px;

}
.smile{
	background-color: lightgrey;
	text-align: center;
	padding: 0.7%;
	font-size: 19px;
}
.sec2{
	display: flex;
	justify-content: space-between;
	padding: 5% 0% 5% 8%;
}
.India{
	font-size: 45px;
}
.recharge{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	margin-bottom: 5%;
}
.downloadapp{
	border: 1px solid black;
	background-color: black;
	color: white;
	width: 20%;
	padding: 4%;
	border-radius: 30px;
	text-align: center;
	margin-top: 7%;
}
.downloadapp:hover{
	background-color: white;
	color: black;
}
.icon i{
	margin-left: 5%;
}
.div1{
	margin-right: 5%;
	display: flex;
	justify-content: space-between;
	margin: 3%;
}

.sec3{
	background-color: #00baf2;
	color: white;
	font-size: 20px;
	padding: 5%;
	font-family: sans-serif;
}
.sec3 a{
	text-decoration: none;
	color: white;

}

.sec4{
	text-decoration: none;
	background-color: darkblue;
	color: white;
	font-size: 20px;
	padding: 5%;
	font-family: sans-serif;
}
.sec4 a{
	text-decoration: none;
	color: white;
}		
.div3{
	display: flex;
	justify-content: space-between;
	font-size: 16px;	
	font-family: sans-serif;
	margin-right: 1%;
	margin-top: 2%;
	padding: 2%;

}
.paytm{
	font-size: 45px;
	margin: 5% 0% 5% 5%;
	font-family: sans-serif;
}
.sec5{
	padding: 8%;
	background-color: rgba(239,239,239,0.6);
}
.sec5div1{
	display: flex;
	justify-content: space-between;
	padding: 8%;
	background-color: white;

}
.pay{
	font-size: 15px;
	font-family: sans-serif;
	padding: 8%;
	display: flex;
	color: black;
}
.downloadapp{
	border: 1px solid black;
	background-color: black;
	color: white;
	width: 55%;
	padding: 4%;
	border-radius: 30px;
	text-align: center;
	margin-top: 7%;

}
.downloadapp:hover{
	background-color: white;
	color: black;
}
.sec5div2{
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding: 6%;
	border-radius: 10px;
	margin-top: 3%;
}
.div2 h1{
	font-size: 30px;
	margin-bottom: 4%;
}
.div2 p {
	font-size: 17px;
}
.upilogo{
	display:inline-block ;
	margin-bottom: 6%;
	padding: 6%;
}
.sec5div3{
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding: 6%;
	border-radius: 10px;
	margin-top: 3%;
}
.div31 h1{
	font-size: 30px;
	margin-bottom: 4%;
}
.div31 p {
	font-size: 17px;
	margin-bottom: 9%;
}


.div31 a{
	font-size: 18px;
	text-decoration: none;
	color: white;
	background-color: #02386e;
	border-radius: 30px;
	padding: 2%;
}
.div31 a:hover{
	background-color: #00bbf2;
}
.sec5div4{
	display: flex;
	border: 1px solid white;
}
.div411 a{
	text-decoration: none;
	color: black;
}
.div411{
	background-color: white;
	margin-top: 3%;
	margin-right: 3%;
	padding: 9%;
	padding-bottom: 0%;
}
.div41 h1{
	font-size: 30px;
	margin-top: 3%;
}
.div41 p{
	font-size: 15px;
	margin-top: 3%;
}
.div42{
	background-color: white;
	margin-top: 4%;
	padding: 8%;
	padding-bottom: 0%;
}
.div42 h1{
	font-size: 30px;
	margin-top: 3%;
}
.div42 p{
	font-size: 15px;
	margin-top: 3%;
}
.div422 a{
	text-decoration: none;
	color: black;
}
.sbilogo{
	margin-top: 3%;
}
.sec6{
	padding: 2%;
	font-family: sans-serif;
}

.sec6div{
	display: flex;
	justify-content: space-between;
	padding: 4%;


}
.paytm{
	font-size: 50px;
	margin-left: 1%;
	margin-bottom: 2
	%;
}
.bank{
	font-size: 35px;
	margin-left: 1%;
	margin-top: 9%;

}
.div61 p{
	font-size: 25px;
	margin-top: 8%;
	margin-bottom: 6%;
}
.div61 a{
	background-color: #02386e;
	text-decoration: none;
	color: white;
	border-radius: 30px;
	width: 50%;
	padding: 2%;

}
.div61 a:hover{
	background-color: #00adf2;
	border-radius: 16px;
}
@media (max-width: 1366px){
	.navigation a{
		font-size: 14px;
	}
}
@media(max-width: 390px){
	.navigation a{
		font-size: 4px;

	}
	.smile{
		font-size: 7px;
	}
	.sec2{
		font-size:8px ;
	}
	.recharge{
		font-size:8px ;
	}
	.downloadapp{
		font-size: 5px;
	}
	.sec3{
		font-size: 8px;
	}
	.div1{
		font-size: 8px;
	}
	.sec4{
		font-size: 8px;
	}
	.div3{
		font-size: 8px;
	}
	.div1{
		flex-direction: column;
		align-items: center;
		text-align: center;

	}
	.div3{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.sec5{
		font-size: 8px;
	}
	.paytm{
		font-size: 8px;
	}
	.sec5div1{
		font-size: 8px;
	}
	.sec5div2{
		font-size: 8px;
	}
	.upilogo{
		font-size: 8px;
	}
	.sec5div2 h1{
		font-size: 5px;
	}
	.upi{
		font-size: 5px !important;
	}
	.sec5div3{
		font-size: 8px;
	}
	.sec5div31{
		font-size: 5px;
	}
	.div31{
		font-size: 5px;
	}
	.div31 h1{
		font-size: 8px;
	}
	.div31 a{
		font-size: 8px;
	}
	.sec5div41{
		font-size: 5px;
	}
	.sec5div411{
		font-size: 5px;
	}
	.sec5div42{
		font-size: 8px;
	}
	.sec6{
		font-size: 8px;
	}
	.paytm{
		font-size: 8px;
	}
	.sec6div{
		font-size: 8px;
	}
	.div61{
		font-size: 8px;
	}
	.bank{
		font-size: 8px;
	}
	.div61 p{
		font-size: 8px;
	}
	.div61 a{
		font-size: 8px;
	}
		
}
